<!DOCTYPE html>
<html ng-app="buffaloJumpApp">
  <head>
    <meta charset="utf-8">
    <title>Buffalo Jump Entrance</title>
    <meta name="description" content="Buffalo Jump Entrance">
    <link rel="stylesheet" type="text/css" href="css/vr.css">
    <script src="js/lib/aframe_dev.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/buffaloJumpApp.js"></script>
  </head>
  <body ng-controller="buffaloJumpController">
    <a-scene id="scene">

      <a-sky id="sky" src="" rotation="0 130 0"></a-sky>
      <a-camera id="camera" position="0 1.8 4" 
        cursor-visible="true" 
        cursor-scale="3" 
        cursor-color="red" 
        cursor-offset="2" 
        cursor-maxdistance="10" 
        cursor-opacity="0.6"></a-camera>

      <a-image 
          ng-repeat="navPoint in scene.navPoints"
          ng-mouseenter="navMouseEnter(navPoint)"
          ng-mouseover="navMouseEnter(navPoint)"
          ng-click="navClick(navPoint)"
          class="navigate" id="{{navPoint.id}}" src="images/navigate.svg" width=".5" height=".5" 
          opacity=".65" 
          position="{{navPoint.position}}" 
          cursor="maxDistance:2">

        <a-mouseenter ng-mouseenter="navMouseEnter(navPoint)" scale="2 2 1" rotation="{{navPoint.mouseEnterRotation}}}" ></a-mouseenter>
        <a-mouseleave scale="{{navPoint.mouseLeaveScale}}"></a-mouseleave>

        <a-animation  
          attribute="rotation" 
          from="{{navPoint.animationFrom}}" 
          to="{{navPoint.animationTo}}" 
          dur="3000" fill="backwards" repeat="indefinite" easing="ease-expo" ></a-animation>
      </a-image>

      

      

    </a-scene>

    
  </body>
</html>